<p id="notice"><%= notice %></p>

<table class="recipes" data-role="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th>Ingredients</th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td class="name"><%= link_to recipe.name, recipe %></td>
        <td class="rating"><%= rating_stars(recipe) %></td>
        <td class="ingredients"><%= recipe.ingredients.map(&:name).join(', ') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
