<div class="ui fluid search">
  <div class="ui icon input">
    <input class="prompt" type="text" placeholder="Search..." autofocus>
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>

<div class="ui divider"></div>

<div class="ui divided link items recipes">
  <% @recipes.each do |recipe| %>
    <a class="item" href="<%= url_for(recipe) %>" data-recipe-id="<%= recipe.id %>">
      <div class="content">
        <div class="header"><%= recipe.name %></div>
        <div class="meta">
          <span class="recipe-rating"><div class="ui star rating" data-rating="<%= recipe.rating %>" data-max-rating="5"></div></span>
        </div>
        <div class="description">
          <p><%= recipe.ingredients.map(&:name).join(', ') %></p>
        </div>
      </div>
    </a>
  <% end %>
</div>

