<p id="notice"><%= notice %></p>

<div>
  <div>
    <h1><%= @recipe.name %></h1>
    <div class="ui star rating" data-rating="<%= @recipe.rating %>" data-max-rating="5"></div>
  </div>
</div>

<div class="ui divider"></div>

<div>
  <% @recipe.components.each do |component| %>
    <div>
      <%= component %>
    </div>
  <% end %>
</div>

<div>
  <div>
    <div class="recipe-text">
      <%= @recipe.text %>
    </div>
  </div>
</div>

